{
    "type": [
        "integer",
        "string"
    ],
    "if": {
        "type": "integer"
    },
    "then": {
        "type": "integer",
        "maximum": 9999,
        "minimum": 0
    },
    "else": {
        "type": "string",
        "maxLength": 4,
        "minLength": 1,
        "pattern": "\\d+"
    }
}
# - # - # - #
a ['integer', 'string'] value (if: {'type': 'integer'}, then it should be: "\n "{'type': 'integer', 'maximum': 9999, 'minimum': 0}, otherwise it should be: "\n "{'type': 'string', 'maxLength': 4, 'minLength': 1, 'pattern': '\\\\d+'})
