{
    "type": "object",
    "properties": {"number": {"type": "number"}},
    "patternProperties": {"^.*": {"not": {"type": "string"}}}
}
# - # - # - #
type: 'object'
properties:
  number: {type: 'number'}
pattern properties:
  '^.*':
    (not the following): {type: 'string'}
