{
    "type": "object",
    "properties": {"number": {"type": "number"}},
    "patternProperties": {"^.*": {"not": {"type": "string"}}}
}
# - # - # - #
an object:
* with the following properties:
  - `number`: a number value
* with properties that match:
  - pattern('^.*'): NOT ("negative" match):
    * a string value
